### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Use numpy for dataframe apply
import numpy

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Use len() to count rows in a dataframe
NumberOfSchools = len(school_data)
print("Number of schools: ", NumberOfSchools)
NumberOfStudents = len(student_data)
print("Number of students: ", NumberOfStudents)

# Use .sum() to computer total of a dataframe column
TotalBudget = school_data["budget"].sum()
print("Total Budget: ", TotalBudget)

# Use .mean() to calculate averate of a dataframe column
AverageMathScore = student_data["math_score"].mean()
print("Average math score: ", AverageMathScore)
AverageReadingScore = student_data["reading_score"].mean()
print("Average reading score: ", AverageReadingScore)

OverallPassingRate = (AverageMathScore + AverageReadingScore) / 2.0
print("Overall passing rate: ", OverallPassingRate)

# Apply conditional "math_score >= 70" to select rows and combin
# that with len() function as done above to get student count.

CountMath70 = len(student_data[student_data.math_score >= 70])
CountReading70 = len(student_data[student_data.reading_score >= 70])
print("Math score over 70: ", CountMath70)
print("Reading score over 70: ",CountReading70)

# Percentage calculation
PercentMath70 = (CountMath70 / NumberOfStudents) * 100.0
PercentReading70 = (CountReading70 / NumberOfStudents) * 100.0
print("Percent of students with passing math score: ", PercentMath70)
print("Percent of students with passing reading score: ", PercentReading70)

Number of schools:  15
Number of students:  39170
Total Budget:  24649428
Average math score:  78.98537145774827
Average reading score:  81.87784018381414
Overall passing rate:  80.43160582078121
Math score over 70:  29370
Reading score over 70:  33610
Percent of students with passing math score:  74.9808526933878
Percent of students with passing reading score:  85.80546336482001

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
# Make a copy of the merged data
#  - so I don't mess up the data in case needed later
#  - and to have something shorter to type
sdc = school_data_complete

# Add a per student budget entry
sdc['percap'] = sdc['budget'] / sdc['size']

# The student ID is not needed, remove it (as shown in stackoverflow)
sdc.drop('Student ID', axis=1, inplace=True)

# Numeric school ID is also not needed, remove it
sdc.drop('School ID', axis=1, inplace=True)

In [7]:
# After executing the drop statements the cell will not run again
# Create a new cell to continue calculations

# Convert reading and math scores into averages
sdc = sdc.groupby('school_name').apply(numpy.mean)

# Print table so we can see how we are doing
sdc

                       reading_score  math_score    size     budget  percap
school_name
Bailey High School         81.033963   77.048432  4976.0  3124928.0   628.0
Cabrera High School        83.975780   83.061895  1858.0  1081356.0   582.0
Figueroa High School       81.158020   76.711767  2949.0  1884411.0   639.0
Ford High School           80.746258   77.102592  2739.0  1763916.0   644.0
Griffin High School        83.816757   83.351499  1468.0   917500.0   625.0
Hernandez High School      80.934412   77.289752  4635.0  3022020.0   652.0
Holden High School         83.814988   83.803279   427.0   248087.0   581.0
Huang High School          81.182722   76.629414  2917.0  1910635.0   655.0
Johnson High School        80.966394   77.072464  4761.0  3094650.0   650.0
Pena High School           84.044699   83.839917   962.0   585858.0   609.0
Rodriguez High School      80.744686   76.842711  3999.0  2547363.0   637.0
Shelton High School        83.725724   83.359455  1761.0  1056600.0   600.0
Thomas High School         83.848930   83.418349  1635.0  1043130.0   638.0
Wilson High School         83.989488   83.274201  2283.0  1319574.0   578.0
Wright High School         83.955000   83.682222  1800.0  1049400.0   583.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [5]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [6]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.